# object files
*.o
*.ko
*.obj
*.elf

# linker output
*.ilk
*.map
*.exp

# precompiled headers
*.gch
*.pch

# static libraries
*.lib
*.a
*.la
*.lo

# shared libraries
*.so
*.so.*
*.dylib
*.dll

# executables
*.exe
*.out
*.app

# debug files
*.dSYM/
*.idb
*.pdb

# hdl files
*.cf

# temporary files
*.c_
micro_proc/lib/characters.c
