# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Static libraries
*.lib
*.a
*.la
*.lo

# Shared libraries
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.idb
*.pdb
