//
// @author Tobias Weber
// @date 9-May-2024
// @license see 'LICENSE' file
//
// references:
//   - https://github.com/sipeed/sipeed_wiki/blob/main/docs/hardware/en/tang/Tang-Nano-9K/Nano-9K.md
//       -> Schematic
//   - https://github.com/YosysHQ/apicula/tree/master/examples
//   - https://github.com/YosysHQ/nextpnr/blob/master/gowin/arch.cc
//   - https://github.com/YosysHQ/yosys/tree/main/examples/gowin
//   - https://github.com/sipeed/TangNano-9K-example/blob/main/spi_lcd
//

// 1.8 V
IO_LOC "key[0]"      3;
IO_LOC "key[1]"      4;

IO_PORT "key[0]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "key[1]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;


// 1.8 V
IO_LOC "led[0]"      10;
IO_LOC "led[1]"      11;
IO_LOC "led[2]"      13;
IO_LOC "led[3]"      14;
IO_LOC "led[4]"      15;
IO_LOC "led[5]"      16;

IO_PORT "led[0]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "led[1]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "led[2]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "led[3]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "led[4]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "led[5]"     PULL_MODE=NONE  IO_TYPE=LVCMOS18;


// 3.3 V
IO_LOC "serlcd_ena"  47;
IO_LOC "serlcd_sel"  48;
IO_LOC "serlcd_cmd"  49;
IO_LOC "serlcd_clk"  76;
IO_LOC "serlcd_out"  77;

IO_PORT "serlcd_ena" PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "serlcd_sel" PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "serlcd_cmd" PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "serlcd_clk" PULL_MODE=UP  IO_TYPE=LVCMOS33;
IO_PORT "serlcd_out" PULL_MODE=UP  IO_TYPE=LVCMOS33;


// 3.3 V
IO_LOC "clk27"       52;
IO_LOC "serial_tx"   17;
IO_LOC "serial_rx"   18;

IO_PORT "clk27"      PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_PORT "serial_tx"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_PORT "serial_rx"  PULL_MODE=NONE IO_TYPE=LVCMOS33;


// available 3.3 V gpios on the left side
IO_LOC "gpiol[0]"    25;
IO_LOC "gpiol[1]"    26;
IO_LOC "gpiol[2]"    27;
IO_LOC "gpiol[3]"    28;
IO_LOC "gpiol[4]"    29;
IO_LOC "gpiol[5]"    30;

IO_PORT "gpiol[0]"   PULL_MODE=NONE  IO_TYPE=LVCMOS33;
IO_PORT "gpiol[1]"   PULL_MODE=NONE  IO_TYPE=LVCMOS33;
IO_PORT "gpiol[2]"   PULL_MODE=NONE  IO_TYPE=LVCMOS33;
IO_PORT "gpiol[3]"   PULL_MODE=NONE  IO_TYPE=LVCMOS33;
IO_PORT "gpiol[4]"   PULL_MODE=NONE  IO_TYPE=LVCMOS33;
IO_PORT "gpiol[5]"   PULL_MODE=NONE  IO_TYPE=LVCMOS33;


// available 1.8 V gpios on the right side
IO_LOC "gpior[0]"    85;
IO_LOC "gpior[1]"    84;
IO_LOC "gpior[2]"    83;
IO_LOC "gpior[3]"    82;
IO_LOC "gpior[4]"    81;
IO_LOC "gpior[5]"    80;
IO_LOC "gpior[6]"    79;

IO_PORT "gpior[0]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "gpior[1]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "gpior[2]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "gpior[3]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "gpior[4]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "gpior[5]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
IO_PORT "gpior[6]"   PULL_MODE=NONE  IO_TYPE=LVCMOS18;
