#
# the computer's memory map
# @author Tobias Weber
# @date 16-sep-2023
# @license see 'LICENSE' file
# @see https://cc65.github.io/doc/ld65.html#config-files
#

memory
{
	RAM: start = $0000, size = $c000, type = rw;
	IO:  start = $c000, size = $2000, type = rw;
	ROM: start = $e000, size = $2000, type = ro;
}

segments
{
	CODE:   load = ROM, start = $e000, type = ro;
	JMPTAB: load = ROM, start = $fffa, type = ro;
}
